In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup
import pandas as pd
import time
import numpy as np
import math
import re
import matplotlib.pyplot as plt

from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementClickInterceptedException

In [2]:
def time_loc(loc):
    p_time_hr=0
    p_time_min=0
    try:
        if(loc.find("hr ")!=-1):
            loc = loc.replace("hr ",':',1)
        elif(loc.find("hrs ")!=-1):
            loc = loc.replace("hrs ",':',1)
        if(loc.find("min")!=-1):
            loc = loc.split("m")[0]
        if(loc.find(":")!=-1):
            p_time_hr = loc.split(":")[0]
            p_time_min = loc.split(":")[1]
        elif "hr" in loc:
            p_time_hr = loc.split("h")[0]
        else:
            p_time_min = loc.split("m")[0]
        total_time = (int(p_time_hr) * 60) + int(p_time_min)
        return total_time
    except:
        return None

def rating_loc(loc):
    rating = None
    try:
        rating = loc.split(":")[1]    
        rating = rating.split("%")[0]
        rating = float(rating)
        rating = int(rating *100)
        rating = float(rating)/100
        return float(rating)
    except:
        return None
    
    
def list_loc(loc):
    try:
        loc = loc.replace("['","").replace("']","").replace("',",",").replace(" '","")
        return loc
    except:
        return None
def calories_loc(loc):
    try:
        loc = loc.split(":")[1]
        loc = loc.split('\n')[0]
        loc = loc.replace(" ","")
    except:
        return None

    c=float(loc)
    return int(c)

In [3]:
df = pd.read_csv("project_data_Recipe_table.csv")
try:
    df=df.drop(df[df["Ingredients number"]<2].index)
    df.drop(['Unnamed: 0'],axis='columns',inplace=True)
except:
    pass

In [4]:
def count_duplicatives(df, col_name=None):
    if col_name==None:
        return df.duplicated().sum()
    else:
        return df.duplicated([col_name]).sum()

In [5]:
dup_rows =  count_duplicatives(df)
print("The number of duplicate rows is " ,dup_rows)


print(" \nCount total NaN at each column in a DataFrame : \n\n",
      df.isnull().sum())


# Count total NaN at each row in a DataFrame
for i in range(len(df.index)) :
    temp= df.iloc[i].isnull().sum()
    if temp!=0:
        print(" Total NaN in row", i + 1, ":",temp)
        
df.drop_duplicates()
df = df.dropna()

The number of duplicate rows is  287

Count total NaN at each column in a DataFrame :

 Name                         0
Rating                       0
Rank number                  0
Preparation time in mins    41
Ingredients number           0
Ingredients                  0
Category                     5
Calories per serving         0
dtype: int64
 Total NaN in row 928 : 1
 Total NaN in row 1574 : 1
 Total NaN in row 2821 : 1
 Total NaN in row 2901 : 1
 Total NaN in row 3573 : 1
 Total NaN in row 4049 : 1
 Total NaN in row 4433 : 1
 Total NaN in row 4469 : 1
 Total NaN in row 4689 : 1
 Total NaN in row 4911 : 1
 Total NaN in row 4931 : 1
 Total NaN in row 5309 : 1
 Total NaN in row 5370 : 1
 Total NaN in row 5469 : 1
 Total NaN in row 5687 : 1
 Total NaN in row 5799 : 1
 Total NaN in row 6288 : 1
 Total NaN in row 6425 : 1
 Total NaN in row 6746 : 1
 Total NaN in row 6889 : 1
 Total NaN in row 7024 : 1
 Total NaN in row 7028 : 1
 Total NaN in row 7035 : 1
 Total NaN in row 7058 : 1
 Total NaN in row 7135 : 1
 Total NaN in row 7218 : 1
 Total NaN in row 7278 : 1
 Total NaN in row 7304 : 1
 Total NaN in row 7485 : 1
 Total NaN in row 7541 : 1
 Total NaN in row 7648 : 1
 Total NaN in row 7721 : 1
 Total NaN in row 7769 : 1
 Total NaN in row 8208 : 1
 Total NaN in row 8543 : 1
 Total NaN in row 8629 : 1
 Total NaN in row 8817 : 1
 Total NaN in row 9241 : 1
 Total NaN in row 9438 : 1
 Total NaN in row 9716 : 1
 Total NaN in row 10938 : 1
 Total NaN in row 11195 : 1
 Total NaN in row 11308 : 1
 Total NaN in row 11491 : 1
 Total NaN in row 11764 : 1
 Total NaN in row 12217 : 1

In [6]:


for index, row in df.iterrows():
    df['Preparation time in mins'][index]= time_loc(df["Preparation time in mins"][index])
    df['Rating'][index]= rating_loc(df["Rating"][index])
    df['Ingredients'][index]=list_loc(df['Ingredients'][index])
    df["Calories per serving"][index]= calories_loc(df["Calories per serving"][index])

df = df.loc[(df["Rating"]!=0) & (df["Rank number"]>20) &(df["Rating"]>=90)]

<ipython-input-6-c323bcfae519>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Preparation time in mins'][index]= time_loc(df["Preparation time in mins"][index])
<ipython-input-6-c323bcfae519>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rating'][index]= rating_loc(df["Rating"][index])
<ipython-input-6-c323bcfae519>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ingredients'][index]=list_loc(df['Ingredients'][index])
<ipython-input-6-c323bcfae519>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Calories per serving"][index]= calories_loc(df["Calories per serving"][index])

In [7]:
df_Category=pd.DataFrame()
categories=df['Category'].tolist()
df['Category']=df['Category'].astype('category')
numbers=(df['Category'].cat.codes).tolist()
df_Category['Category']=categories
df_Category['Numbers']=numbers

df['Category']=df['Category'].cat.codes
df_Category = df_Category.sort_values(by=["Numbers"])
df_Category=df_Category.drop_duplicates()



value_counts = df["Category"].value_counts()
# converting to df and assigning new names to the columns
df_value_counts = pd.DataFrame()
x =[] 
i=0
for index, row in df_Category.iterrows():
    data={}
    data["Category"] = df_Category["Category"][index]
    data["Value"] = df_Category["Numbers"][index]
    data["Counts"] =(df['Category'].value_counts()[i])
    data["Total Rating"]=0
    x.append(data)
    i=i+1
new_df_Category = pd.DataFrame(x)


for index1, row1 in new_df_Category.iterrows():
    temp=0
    for index, row in df.iterrows():
        if(df["Category"][index] == new_df_Category["Value"][index1]):
            temp = temp +df["Rank number"][index]
    new_df_Category["Total Rating"][index1] =temp


new_df_Category.to_csv("project_data_Category_table.csv")
new_df_Category

<ipython-input-7-5222d319cee0>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_Category["Total Rating"][index1] =temp

             Category  Value  Counts  Total Rating
0           < 15 Mins      0      54          2783
1           < 30 Mins      1      41          2433
2           < 4 Hours      2      12           539
3           < 60 Mins      3      50          3042
4             African      4       1            25
..                ...    ...     ...           ...
173        Whole Duck    173       2            67
174      Whole Turkey    174      10          1065
175            Winter    175       3           846
176  Yam/Sweet Potato    176      33          2095
177      Yeast Breads    177     226         14451

[178 rows x 4 columns]

In [8]:
Ingredients=[]
df_ingredients = pd.DataFrame()

column=0
df_ingredients.insert(0, "Name", df["Name"])
column=1
index = df.index
count = len(index)
for index, row in df.iterrows():
    temp= (df["Ingredients"][index])
    number = df["Ingredients number"][index]
   # ing_list=[]
    for i in range(0,int(number)):
        name = temp.split(",")[i]
    #    ing_list.append(name)
        if name not in df_ingredients.columns:
            df_ingredients.insert(column, name, 0, True)
            column=column+1
        df_ingredients[name][index]=1
  #  Ingredients.append(ing_list)
#df_ingredients = df_ingredients.loc[:,~df_ingredients.columns.duplicated()]




df_ingredients.to_csv("Ingredients.csv")
df_ingredients

<ipython-input-8-be27462edee5>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ingredients[name][index]=1

,Name,butter,granulated sugar,eggs,bananas,all-purpose flour,baking soda,salt,vanilla,boneless chicken breasts,...,non-fat vanilla yogurt,dried coriander,light molasses,dried mushroom,sage sausage,roasted sesame seeds,"""French's mustard""",coconut flakes,"[""Hellmann's mayonnaise""",ground fenugreek
0,Best Banana Bread,1,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Bourbon Chicken,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Jo Mama's World Famous Spaghetti,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Creamy Cajun Chicken Pasta,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Beer Bread,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12528,Souped up Tortellini,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12541,Whipped Cream,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12564,Mean Chef's Pineapple Upside-Down Cake,0,1,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12571,Ham and Corn Chowder,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12576,Kittencal's Best Deep Dark Chocolate Layer Cake,1,0,1,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
data = [["Low Calories",0,150,0,0], ["Medium Calories",151, 600,0,0], ["High Calories",601, 3000,0,0]]


# Create the pandas DataFrame
df_Calories = pd.DataFrame(data, columns = ["Name",'Start Range', 'End Range','Count',"Number of Reviews"])

df_Calories['Count'][0]=df.loc[df['Calories per serving'] <=150,'Calories per serving'].count()
df_Calories['Count'][1]=df.loc[(df['Calories per serving'] > 150) & (df['Calories per serving'] < 600),'Calories per serving'].count()
df_Calories['Count'][2]=df.loc[(df['Calories per serving'] >= 600),'Calories per serving'].count()

df.insert(len(df.columns), "Calories_categorial", 0, True)
df.loc[(df["Calories per serving"] <= 150), "Calories_categorial"] = 1
df.loc[(df["Calories per serving"] <= 600) & (df["Calories per serving"] >150), "Calories_categorial"] = 2
df.loc[(df["Calories per serving"] >600), "Calories_categorial"] = 3

<ipython-input-9-284ac7fd3823>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Calories['Count'][0]=df.loc[df['Calories per serving'] <=150,'Calories per serving'].count()
<ipython-input-9-284ac7fd3823>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Calories['Count'][1]=df.loc[(df['Calories per serving'] > 150) & (df['Calories per serving'] < 600),'Calories per serving'].count()
<ipython-input-9-284ac7fd3823>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Calories['Count'][2]=df.loc[(df['Calories per serving'] >= 600),'Calories per serving'].count()

df_Rating_Preparation=df[["Name","Rating","Rank number"]].copy()

count = 81
last=0
number =1
array_rating=[]
df_Rating_Preparation.insert(len(df_Rating_Preparation.columns), "Rating_categorial", 0, True)
df.insert(len(df.columns), "Rating_categorial", 0, True)
temp = 1
while int(temp) > 0:
    data={}
    df_Rating_Preparation.loc[(df["Rating"] < count) & (df["Rating"] >=last), "Rating_categorial"] = int(number)
    df.loc[(df["Rating"] < count) & (df["Rating"] >=last), "Rating_categorial"] = int(number)

    data["Start Range"] = last
    data["End Range"] = count-1
    data["Number"] = number
    array_rating.append(data)
    last=count
    count = count + 5
    number=int(number)+1    
    temp = df_Rating_Preparation["Rating_categorial"].isin([0]).sum()

In [10]:
df.insert(len(df.columns), "Rating_categorial", 0, True)
df.loc[(df["Rating"] <95) & (df["Rating"] >=0), "Rating_categorial"] = 0
df.loc[(df["Rating"] <=100) & (df["Rating"] >=95), "Rating_categorial"] = 1

In [11]:
data={}
total_in=[]
for col in df_ingredients.columns:
    if col=="Name":
        pass
    #data["Ingredient"] = "col"
    data[col] = (df_ingredients[col] == 1).sum()
total_in.append(data)
df_total_ingredients = pd.DataFrame(total_in)
df_total_ingredients=df_total_ingredients.T
df_total_ingredients =df_total_ingredients.drop('Name')
df_total_ingredients.sort_values(0, ascending=False)

df_total_ingredients

                             0
butter                    2336
granulated sugar           248
eggs                      1377
bananas                    143
all-purpose flour          788
...                        ...
roasted sesame seeds         1
 "French's mustard"          1
coconut flakes               1
["Hellmann's mayonnaise"     1
ground fenugreek             1

[2218 rows x 1 columns]

In [12]:
df

,Name,Rating,Rank number,Preparation time in mins,Ingredients number,Ingredients,Category,Calories per serving,Calories_categorial,Rating_categorial
0,Best Banana Bread,96.2,2282,70,8,"butter,granulated sugar,eggs,bananas,all-purpo...",125,272,2,1
1,Bourbon Chicken,91.8,3069,35,10,"boneless chicken breasts,olive oil,garlic clov...",31,521,2,0
2,Jo Mama's World Famous Spaghetti,94.6,1340,80,15,"Italian sausage,onion,garlic cloves,diced toma...",142,555,2,0
3,Creamy Cajun Chicken Pasta,96.8,1591,25,12,"boneless skinless chicken breast halves,lingui...",31,719,3,1
4,Beer Bread,95.8,1055,63,6,"flour,baking powder,salt,sugar,beer,butter",125,422,2,1
...,...,...,...,...,...,...,...,...,...,...
12528,Souped up Tortellini,96,23,30,6,"olive oil,carrots,onion,chopped tomatoes,basil...",167,310,2,1
12541,Whipped Cream,98.6,30,25,3,"heavy cream,granulated sugar,vanilla extract",47,436,2,1
12564,Mean Chef's Pineapple Upside-Down Cake,97,62,65,12,"pineapple slices,pecan halves,all-purpose flou...",47,5496,3,1
12571,Ham and Corn Chowder,94,32,60,11,"celery ribs,onion,margarine,flour,milk,cooked ...",36,307,2,0
12576,Kittencal's Best Deep Dark Chocolate Layer Cake,94.6,27,40,13,"butter,brown sugar,eggs,buttermilk,vanilla,ins...",47,706,3,0

In [13]:

count = 33
last=1
number =1
array_time=[]
df_ingredients.insert(len(df.columns), "Preparation time in mins_categorial", 0, True)
temp = 1
while int(temp) > 0:
    data={}
    df.loc[(df["Preparation time in mins"] < count) & (df["Preparation time in mins"] >=last), "Preparation time in mins_categorial"] = int(number)
    data["Start time Range"] = last
    data["End time Range"] = count-1
    data["Number value"] = number
    bins=[0,last,count-1]
    data["Counts"] = pd.cut(df['Preparation time in mins'],bins=bins).value_counts(sort=False)[1]
    avg = df.loc[df["Preparation time in mins_categorial"] == number]
    try:
        data["AVG Time"]=int(avg["Preparation time in mins"].mean())
        f=int(avg["Rating"].mean() *100)
        f=f/100
        data["AVG Rating"]=f
        data["AVG Rank Count"] = int(avg["Rank number"].mean())
        data["AVG Calories"] = int(avg["Calories per serving"].mean())
    except:
        data["AVG Time"]=0
        data["AVG Rating"]=0
        data["AVG Rank Count"]=0
        data["AVG Calories"]=0
    array_time.append(data)
    last=count
    count = (count)*2-1
    number=int(number)+1    
    temp = df["Preparation time in mins_categorial"].isnull().sum()


    
    
df_time = pd.DataFrame(array_time)
df_time

,Start time Range,End time Range,Number value,Counts,AVG Time,AVG Rating,AVG Rank Count,AVG Calories
0,1,32,1,3138,18,95.53,58,367
1,33,64,2,2352,46,95.23,64,455
2,65,128,3,1172,81,95.47,67,609
3,129,256,4,528,178,95.53,63,623
4,257,512,5,230,396,94.87,64,508
5,513,1024,6,84,662,95.22,79,668
6,1025,2048,7,49,1496,96.24,78,606
7,2049,4096,8,5,2779,96.36,57,219
8,4097,8192,9,4,4697,96.35,47,447
9,8193,16384,10,3,10166,94.19,39,360
10,16385,32768,11,1,20190,98.60,106,727
11,32769,65536,12,0,0,0.00,0,0
12,65537,131072,13,2,100817,99.00,22,2320

In [14]:
df.to_csv("Final_clean_project_data_Recipe_table.csv")
df_time.to_csv("Time_Range.csv")
df_total_ingredients.to_csv("Top_Ingredients.csv")
df_Calories.to_csv("Calories_Category.csv")